.mian-box {
  background-color: #0e0f11;
  color: #ededed;
  text-align: center;
  padding: 100px 0;
}

.mian-box .heading-box h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.mian-box .heading-box a {
  color: #ededed;
  font-size: 22px;
  font-weight: 600;
}

.mian-box .heading-box p {
  margin-top: 50px;
}

p {
  font-size: 17px;
  line-height: 28px;
  width: 80%;
  margin: 0 auto;
}

.mian-box .copyright {
  font-size: 18px;
  font-weight: 600;
  padding-top: 50px;
}

.mian-box .copyright a {
  color: #ededed;
  text-underline-offset: 3px;
  transition: 0.3s all ease;
}

.mian-box .copyright a:hover {
  color: #26ADB9;
}